<div class="wrapper">
  {% if loading %}
    <div class="dimmed light medium">{{ phrases.loading | safe }}</div>
  {% else %}
    <div class="table-wrapper">
      <table class="sheets-table">
        {% for row in sheetData %}
          <tr class="sheets-table-row">
            {% for cell in row %}
              {% if cell.merge %}
                <td class="small sheets-table-cell" style="{{cell.style}}" colspan="{{cell.merge_data.colspan}}" rowspan="{{cell.merge_data.rowspan}}"{>
                  {{cell.value}}
                </td>
              {% elif cell.display %}
                <td class="small sheets-table-cell" style="{{cell.style}}">
                  {{cell.value}}
                </td>
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
      </table>
    </div>
  {% endif %}
</div>